# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [43]:
# Import sqlite3 and pandas.
import sqlite3 as sl
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [44]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [45]:
# Create a new table in your database.
with con:
    con.execute("""
CREATE TABLE favorite_books(
Title TEXT, 
Author TEXT, 
Description TEXT
);
""")

OperationalError: table favorite_books already exists

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [ ]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books (Title, Author, Description) values (?, ?, ?)'
data = [
    ('Educated', 'Tara Westover', 'Story of overcoming adversity through education'), 
    ('Seeing', 'Jose Saramago', 'Very timely, how one reacts when society changes overnight'), 
    ('Dom Casmuro', 'Machado de Assis', 'Brazilian classic, untrustworthy narrator')
]

with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [ ]:
# Write your SELECT query here.
with con:
    data = con.execute("SELECT * FROM favorite_books")
    for row in data:
        print(row)

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [48]:
# Use Pandas to make a new table in your database.
favorite_movies = pd.DataFrame({
    'title': ['Atonement', 'The Constant Gardener', 'Little Miss Sunshine'], 
    'id': [1, 2, 3]
})

favorite_movies.to_sql('FAVORITE_MOVIES', con)

df = pd.read_sql('''
SELECT * 
FROM FAVORITE_MOVIES''', con)

df

   index                  title  id
0      0              Atonement   1
1      1  The Constant Gardener   2
2      2   Little Miss Sunshine   3